<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vise.facedemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FaceDetectorActivity" />
    </application>

    <!--讯飞人脸检测必加权限，否则会提示“引擎初始化失败.(错误码:21003)”-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>